.CreateAd {
	padding: 1rem 2rem;

	.header {
		margin: 0;
	}

	.errorMessage {
		text-align: center;
		padding: 0.5rem;
		color: red;
	}

	.successMessage {
		text-align: center;
		padding: 0.5rem;
		color: green;
	}

	fieldset {
		border: none;
	}

	.row {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
    	margin: 2.5rem 5px;

		label {
			font-weight: bold;
			margin-right: 10px;
			min-width: 150px;
			text-align: right;
			padding: 6px 9px;

			&.required::after {
				content:"*";
				color:red;
			}
		}

		> div {
			flex: 1;
			max-width: 700px;
			display: flex;
			flex-flow: column nowrap;

			> textarea {
				height: 6rem;
			}
		}

		.imagesUploader {
			box-shadow: none;

			.fileUploader .fileContainer {
				box-shadow: none;
			}

			.imagesPreview {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 100%;

				.imageWrapper {
					width: 25%;
					margin: 5%;	
					padding: 10px;
					background: #edf2f6;
					display: flex;
					align-items: center;
					justify-content: center;
					height: inherit;
					box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
					border: 1px solid #d0dbe4;
					position: relative;
	
					img {
						width: 100%;
					}

					.deleteImage {
						position: absolute;
						top: -9px;
						right: -9px;
						color: #fff;
						background: #ff4081;
						border-radius: 50%;
						text-align: center;
						cursor: pointer;
						font-size: 26px;
						font-weight: bold;
						line-height: 30px;
						width: 30px;
						height: 30px;
					}
				}
			}
		}
	}

	.submit {
		text-align: center;

		.submitButton {
			color: white;
			text-transform: uppercase;
			width: 20rem;
			height: 2.5rem;
			background-color: #3b6fb6;
			cursor: pointer;
			border: none;
			border-radius: 4px;
			font-weight: bold;	
	
			&:hover:not(:disabled) {
				background-color: #1f56a1;
			}
	
			&:disabled {
				background-color: lighten(#3b6fb6, 20%);	
			}	
		}
	}
}

